* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark.body {
  --accent-color: #D0D066;
  --background-color: white;
  --text-color: rgb(39, 40, 35);
}

body {
  min-height: 100vh;
}

.navbar {
  background-color: black;
  font-weight: bold;
  font-family: 'ubuntu', sans-serif;
}

.control-panel {
  font-size: 15px;
  word-wrap: break-word;
  background: #ffbd59;
  text-align: right;
  padding: 5px;
  /* height: 3%; */
  width: 100%;
  font-family: sans-serif;
}

.languages {

  /* background: white; */
  border: 3px solid #ffbd59;
  /* border: 0.2px dotted #060606; */

  padding: 5px;
  font-size: 14px;

  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  /* width: 200px; */
}

#editor {
  height: 500px;
  max-width: 100%;
  font-size: 16px;
}


.ace_content {
  word-wrap: break-word;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
  background: #ffbd59;
}

.btn-OJorange {
  display: flex;
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  justify-content: space-around;
  width: 640px;
  padding: 9px;
  background: #ffbd59;
}

.btn {
  background: #57a958;
  color: white;
  padding: 8px;
  border: 0;
}

.output {
  color: white;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border: 2px solid #ffbd59;
  background-color: rgb(39, 40, 35);
  min-height: 168px;
}

.dark .output {
  color: rgb(39, 40, 35);
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border: 2px solid #ffbd59;
  background-color: white;
  min-height: 168px;
}

.inputArea {
  min-height: 154px;
  width: 100%;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.submit_btn,
.text_output {
  margin: 0 10px;
}

.text_output {
  margin-top: 5px;
  font-size: 18px;
  color: rgb(39, 40, 35);
}


 .theme-toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  /* position:sticky; */
  left: 83%;
  top: -.5cm;

  padding: 0.2em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: .1em;
  border: .1em solid #ffbd59;
  background-color: #ffbd59;
  border-radius: 10px;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
} 



.theme-toggle-button .icon {
  margin-right: .1em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
  transform: scale(1.1);
}


.sun-moon-container {
  --rotation: 0;

  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 2vmin;
  transform: rotate(calc(var(--rotation) * 1deg));
  transition: transform var(--transition-delay);
}

.sun,
.moon {
  position: absolute;
  transition: opacity, fill, var(--transition-delay);
  width: 0px;
  height: 0px;
  fill: var(--accent-color);
}

.sun {
  top: -.8cm;
  opacity: 1;
}

.dark .sun {
  opacity: 0;
}

.moon {
  bottom: -.8cm;
  opacity: 0;
  transform: rotate(180deg);
}

.dark .moon {
  opacity: 1;
}

.hero-section {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 60px 0;
}

.hero-section h1 {
  font-size: 86px;
  margin-bottom: 30px;
  color: #ffbd59;
}

.hero-section h2 {
  font-size: 66px;
  margin-bottom: 0px;
  color: #ffffff;
}

.hero-section p {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: justify;
}

.features-section {
  padding: 60px 0;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature img {
  width: 200px;
  margin-bottom: 10px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 16px;
}