*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    min-height: 100vh;
}

.navbar {
    background-color: black;
    font-weight: bold;
    font-family: 'ubuntu', sans-serif;
}

.control-panel {
    background: #ffbd59;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor { 
    height: 500px; 
    max-width: 100%;
    font-size: 16px;
}
.ace_content{
    word-wrap: break-word;
}

.button-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 6px; 
    background: #ffbd59;
}

.btn {
    background: #57a958;
    color: white;
    padding: 8px;
    border: 0;
}

.output {
    color: white;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border: 2px solid #ffbd59;
    background-color: rgb(39, 40, 35);
    min-height: 168px;
}

.inputArea{
    min-height: 154px;
    width: 100%;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
}

.submit_btn, .text_output{
    margin: 0 10px;
}
.text_output{
    margin-top: 5px;
    font-size: 18px;
    color: rgb(39, 40, 35);
}